---
layout: page
title: Members
permalink: /members/
weight: 2
---

    <section id="feature" class="transparent-bg">
        <div class="container">
            <div class="center wow">
                <h2>Members</h2>
                <p class="lead">The following parties are members of the Alliance for Progress</p>
            </div>

            <div class="row">
                {% for member in site.data.members %}
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <a href="{{ member.url }}" target="_blank"><img class="img-responsive center-block" src="/images/logos/{{ member.logo }}" alt="{{ member.name }}" title="{{ member.name }}" style="max-height: 73px;"></a>
                </div>
                {% endfor %}
			</div>

			<div class="center wow">
				<p class="lead">The following parties are regular attendees of Alliance for Progress meetings</p>
			</div>
				
            <div class="row">
                {% for member in site.data.attendees %}
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <a href="{{ member.url }}" target="_blank"><img class="img-responsive center-block" src="/images/logos/{{ member.logo }}" alt="{{ member.name }}" title="{{ member.name }}" style="max-height: 73px;"></a>
                </div>
                {% endfor %}
            </div>

        </div><!--/.container-->
    </section><!--/#feature-->